<div class="row">
  <div class="col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h3>View Member</h3>
      </div>
      <div class="ibox-content">
        <mat-form-field>
          <label style="font-weight: normal">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </label>
        </mat-form-field>
        <!--        <table id="viewMemberTable" class="table table-responsive table-striped">-->
        <!--          <thead>-->
        <!--          <tr>-->
        <!--            <th>Member Name</th>-->
        <!--            <th>Address</th>-->
        <!--            <th>College</th>-->
        <!--            <th>Is Approved</th>-->
        <!--            <th>Action</th>-->
        <!--          </tr>-->
        <!--          </thead>-->
        <!--          <tbody>-->
        <!--          <tr *ngFor="let member of memberList" class="p-h-md">-->
        <!--            <td>{{member.firstName}} {{member.middleName}} {{member.lastName}}</td>-->
        <!--            <td>{{member.presentAddress.address}} {{member.presentAddress.city}}</td>-->
        <!--            <td>{{member.college.collegeName}}</td>-->
        <!--            <td>{{member.memberApproved ? 'Yes' : 'No'}}</td>-->
        <!--            <td>-->
        <!--              <button class="btn btn-primary" (click)="viewMemberDetails(member)">View Details</button>-->
        <!--            </td>-->
        <!--          </tr>-->
        <!--          </tbody>-->
        <!--        </table>-->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let member"> {{member.firstName}} {{member.lastName}}</td>
          </ng-container>
          <ng-container matColumnDef="presentAddress.address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
            <td mat-cell *matCellDef="let member"> {{member.presentAddress.address}} {{member.presentAddress.city}}</td>
          </ng-container>
          <ng-container matColumnDef="college.collegeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> College</th>
            <td mat-cell *matCellDef="let member"> {{member.college.collegeName}} </td>
          </ng-container>
          <ng-container matColumnDef="memberApproved">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Approved</th>
            <td mat-cell *matCellDef="let member"> {{member.memberApproved ? 'Yes' : 'No'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let member">
              <i
                class="fa fa-info-circle p-xs"
                title="View Details"
                (click)="viewMemberDetails(member)">
              </i>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div id="memberDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">

              <div class="ibox-content">

                <div class="row">
                  <div class="col-md-12" *ngIf="member">
                    <table style="width: 100%">
                      <colgroup>
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 70%;">
                      </colgroup>
                      <tr>
                        <td class="detail-label">First Name</td>
                        <td class="detail-text">{{member.firstName}}</td>
                      </tr>
                      <tr *ngIf="member.middleName.length!=0">
                        <td class="detail-label">Middle Name</td>
                        <td class="detail-text">{{member.middleName}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Last Name</td>
                        <td class="detail-text">{{member.lastName}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Mobile Number</td>
                        <td class="detail-text">{{member.mobileNumber}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Email Address</td>
                        <td class="detail-text">{{member.email}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Member Name</td>
                        <td class="detail-text">{{member.college.collegeName}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Course Name</td>
                        <td class="detail-text">{{member.courseName}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Batch</td>
                        <td class="detail-text">{{member.batch}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Gender</td>
                        <td class="detail-text">{{member.gender}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Hobbies</td>
                        <td class="detail-text">{{member.hobbies || 'N/A'}}</td>
                      </tr>
                      <tr>
                        <td class="detail-label">Achievements</td>
                        <td class="detail-text">{{member.achievements || 'N/A'}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
