<form [style.fontSize.px]="16" [formGroup]="firstFormGroup" [autocomplete]="'off'">
  <mat-form-field>
    <input
      matInput
      placeholder="First Name"
      formControlName="firstName"
      required>
    <mat-error *ngIf="firstFormGroup.get('firstName').hasError('required')">
      Please enter your first name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Middle Name"
      formControlName="middleName"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Last Name"
      formControlName="lastName"
      required>
    <mat-error *ngIf="firstFormGroup.get('lastName').hasError('required')">
      Please enter your last name
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-select placeholder="Gender" formControlName="gender" required>
      <mat-option [value]="'Male'">Male</mat-option>
      <mat-option [value]="'Female'">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="firstFormGroup.get('gender').hasError('required')">
      Please select your gender
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input
      matInput
      type="email"
      placeholder="Email"
      formControlName="email"
      required>
    <mat-error *ngIf="firstFormGroup.get('email').hasError('required')">
      Please enter your email
    </mat-error>
    <mat-error *ngIf="firstFormGroup.get('email').hasError('email')">
      Please enter correct email
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      formControlName="password"
      type="password"
      required>
    <mat-error *ngIf="firstFormGroup.get('password').hasError('required')">
      Please enter your password
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Confirm Password"
      formControlName="confirm"
      type="password"
      required>
    <mat-error *ngIf="firstFormGroup.get('confirm').hasError('required')">
      Please confirm your password
    </mat-error>
    <mat-error *ngIf="firstFormGroup.hasError('notSame')">
      Password do not match {{firstFormGroup.hasError('notSame')}}
    </mat-error>

  </mat-form-field>
  <div>
    <button mat-button mat-raised-button matStepperNext>Next</button>
  </div>
</form>
