<form [style.fontSize.px]="16" [formGroup]="fourthFormGroup" [autocomplete]="'off'">
  <ng-template matStepLabel>Done</ng-template>
  <mat-form-field>
    <input
      matInput
      placeholder="achievements"
      formControlName="achievements"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="hobbies"
      formControlName="hobbies"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="skills"
      formControlName="skills"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Inspiration Source"
      formControlName="inspirationSource"
    >
  </mat-form-field>
</form>
