<form [style.fontSize.px]="16" [formGroup]="collegeFormGroup">
  <mat-card>
    <mat-form-field style="width: 60%">
      <input
        matInput
        placeholder="College Name"
        formControlName="collegeName"
        [(ngModel)]="initialCollegeData.collegeName"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="College Abbreviation"
        formControlName="collegeAbbreviation"
        [(ngModel)]="initialCollegeData.collegeAbbreviation"
        required
      >
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 60%">
      <input
        matInput
        placeholder="University Name"
        formControlName="universityName"
        [(ngModel)]="initialCollegeData.universityName"
        required>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 100%">
      <input
        matInput
        placeholder="Address"
        formControlName="address"
        [(ngModel)]="initialCollegeData.address"
        required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        matInput
        placeholder="City"
        formControlName="city"
        [(ngModel)]="initialCollegeData.city"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="State"
        formControlName="state"
        [(ngModel)]="initialCollegeData.state"
        required>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 100%">
      <input
        matInput
        placeholder="Comments"
        formControlName="comments"
        [(ngModel)]="initialCollegeData.comments"
        required>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        matInput
        placeholder="Faculty"
        formControlName="faculty"
        [(ngModel)]="initialCollegeData.faculty"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Referrer Name"
        formControlName="referencePersonName"
        [(ngModel)]="initialCollegeData.referencePersonName"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Referrer Contact"
        formControlName="referencePersonContact"
        width="100%"
        [(ngModel)]="initialCollegeData.referencePersonContact"
        required>
    </mat-form-field>
    <div>
      <button mat-button (click)="submitForm()">Save Details</button>
    </div>
  </mat-card>
</form>
