<div class="row" >
  <div class="col-md-12" >
    <div class="ibox">
      <div class="ibox-title">
        <h3>Activity</h3>
      </div>
      <div class="ibox-content">
        <table id="viewActivityTable" class="table table-responsive table-striped">
          <thead>
          <tr>
            <th>Activity Name</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Type</th>
            <th  class="text-center">Action</th>
          </tr>
          </thead>
         <tbody>
         <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>  <tr class="p-h-md">
           <td>Plantation</td>
           <td>Plantation</td>
           <td>10/Oct/2019</td>
           <td>10/Oct/2019</td>
           <td>Internal</td>
           <td  class="text-center">
             <div class="row">
               <a routerLink="/ca/member/markAttendance/1"><button class=" btn btn-primary p-xs">Mark Attendance</button></a>
               <button class=" btn btn-primary p-xs">Enroll Activity</button>
             </div>
             <div class="row">
               <button class="btn btn-primary p-xs ">View Attendance</button>
               <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
               <a routerLink="/ca/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
             </div>
           </td>
         </tr>
         </tbody>
        </table>
      </div>
    </div>
  </div >
</div>
