<form [style.fontSize.px]="16" [formGroup]="thirdFormGroup">
  <mat-form-field>
    <mat-select required placeholder="College Name" formControlName="collegeId">
      <mat-option *ngFor="let college of collegeList |  keyvalue:keyComparator" [value]="college.key">{{college.value}}</mat-option>
    </mat-select>
    <mat-error *ngIf="thirdFormGroup.get('collegeId').hasError('required')">
      Please enter your College Name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Course Name" formControlName="courseName" required>
      <mat-option [value]="'B.Tech'">B.Tech</mat-option>
      <mat-option [value]="'B.Arch'">B.Arch</mat-option>
      <mat-option [value]="'B.COM'">B.COM</mat-option>
    </mat-select>
    <mat-error *ngIf="thirdFormGroup.get('courseName').hasError('required')">
      Please enter your Course Name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select required placeholder="Batch" formControlName="batch">
      <mat-option [value]="2020">2020</mat-option>
      <mat-option [value]="2019">2019</mat-option>
      <mat-option [value]="2018">2018</mat-option>
      <mat-option [value]="2017">2017</mat-option>
    </mat-select>
    <mat-error *ngIf="thirdFormGroup.get('batch').hasError('required')">
      Please enter your batch
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
