<form [style.fontSize.px]="16" [formGroup]="collegeFormGroup" disabled="loading" [autocomplete]="'off'" (ngSubmit)="submitForm()">
  <mat-card>
    <mat-form-field style="width: 60%">
      <input
        matInput
        placeholder="College Name"
        formControlName="collegeName"
        required>
      <mat-error *ngIf="collegeFormGroup.get('collegeName').hasError('required')">
        Please enter the College Name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="College Abbreviation"
        formControlName="collegeAbbreviation"
        required
      >
      <mat-error *ngIf="collegeFormGroup.get('collegeAbbreviation').hasError('required')">
        Please enter the College Abbreviation
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 60%">
      <input
        matInput
        placeholder="University Name"
        formControlName="universityName"
        required>
      <mat-error *ngIf="collegeFormGroup.get('universityName').hasError('required')">
        Please enter the University Name
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 100%">
      <input
        matInput
        placeholder="Address"
        formControlName="address"
        required>
      <mat-error *ngIf="collegeFormGroup.get('address').hasError('required')">
        Please enter the Address
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select (selectionChange)="onStateChange($event)" placeholder="State" formControlName="state" required>
        <mat-option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="collegeFormGroup.get('state').hasError('required')">
        Please enter your present state
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="City" formControlName="city" required>
        <mat-option *ngFor="let city of cityList" [value]="city.name">{{city.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="collegeFormGroup.get('city').hasError('required')">
        Please enter your city
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 100%">
      <input
        matInput
        placeholder="Comments"
        formControlName="comments"
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
        matInput
        placeholder="Faculty Name"
        formControlName="faculty"
        required>
      <mat-error *ngIf="collegeFormGroup.get('faculty').hasError('required')">
        Please enter the Faculty Name
      </mat-error>
    </mat-form-field>
    <br/>
    <div formArrayName="referenceList"
         *ngFor="let reference of formArr.controls; let i = index;">
      <div [formGroupName]="i.toString()">
        <mat-form-field>
          <input
            matInput
            formControlName="name"
            placeholder="Referrer Name"
            required
          >
          <mat-error *ngIf="formArr.controls[i].get('name').hasError('required')">
            Please enter the Referrer Name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="designation"
            placeholder="Designation"
            required
          >
          <mat-error *ngIf="formArr.controls[i].get('name').hasError('required')">
            Please enter the Designation
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            maxlength="10"
            formControlName="contact"
            placeholder="Contact"
            required
          >
          <mat-error *ngIf="formArr.controls[i].get('name').hasError('required')">
            Please enter the Contact
          </mat-error>
        </mat-form-field>
        <button (click)="deleteRow(i)" style="background-color: #ff4444; color: white; border: 0; border-radius: 4px; font-weight: bolder;">&times;</button>
      </div>
    </div>
    <div style="background-color: #ffeecc; color: #f44; margin-bottom: 20px;" *ngIf="collegeFormGroup.get('referenceList').hasError('required')">
      Please add at least one Referrer
    </div>
    <div>
      <button mat-button type="button" (click)="addItem()" style="background-color: #1ab394; color: white; margin-right: 20px;">Add Referrer</button>
      <button mat-button type="submit" style="background-color: #1ab394; color: white;">Add College</button>
    </div>
  </mat-card>
</form>
