<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Account Information</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required>
        <mat-error *ngIf="firstFormGroup.get('firstName').hasError('required')">
          Please enter your first name
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Middle Name"
          formControlName="middleName"
        >
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          required>
        <mat-error *ngIf="firstFormGroup.get('lastName').hasError('required')">
          Please enter your last name
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Gender"
          formControlName="gender"
          required>
        <mat-error *ngIf="firstFormGroup.get('gender').hasError('required')">
          Please enter your gender
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          required>
        <mat-error *ngIf="firstFormGroup.get('email').hasError('required')">
          Please enter your email
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          required>
        <mat-error *ngIf="firstFormGroup.get('password').hasError('required')">
          Please enter your password
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="confirm"
          type="password"
          required>
        <mat-error *ngIf="firstFormGroup.get('confirm').hasError('required')">
          Please confirm your password
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Contact Details</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Contact"
          formControlName="mobileNumber"
          required>
        <mat-error *ngIf="secondFormGroup.get('mobileNumber').hasError('required')">
          Please enter your mobile number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Whatsapp"
          formControlName="whatsappNumber"
        >
      </mat-form-field>
      <div formGroupName="presentAddress">
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            required>
          <mat-error *ngIf="secondFormGroup.get('presentAddress').get('address').hasError('required')">
            Please enter your Address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="City"
            formControlName="city"
            required>
          <mat-error *ngIf="secondFormGroup.get('presentAddress').get('city').hasError('required')">
            Please enter your city
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="State"
            formControlName="state"
            required>
          <mat-error *ngIf="secondFormGroup.get('presentAddress').get('state').hasError('required')">
            Please enter your present state
          </mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="permanentAddress">
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            required>
          <mat-error *ngIf="secondFormGroup.get('permanentAddress').get('address').hasError('required')">
            Please enter your address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="City"
            formControlName="city"
            required>
          <mat-error *ngIf="secondFormGroup.get('permanentAddress').get('city').hasError('required')">
            Please enter your city
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="State"
            formControlName="state"
            required>
          <mat-error *ngIf="secondFormGroup.get('permanentAddress').get('state').hasError('required')">
            Please enter your state
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input
          matInput
          placeholder="Country"
          formControlName="country"
          required>
        <mat-error *ngIf="secondFormGroup.get('country').hasError('required')">
          Please enter your country
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>College Details</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="College"
          formControlName="college"
          required>
        <mat-error *ngIf="thirdFormGroup.get('college').hasError('required')">
          Please enter your College Name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Course Name"
          formControlName="courseName"
          required>
        <mat-error *ngIf="thirdFormGroup.get('courseName').hasError('required')">
          Please enter your Course Name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Batch"
          formControlName="batch"
          required>
        <mat-error *ngIf="thirdFormGroup.get('batch').hasError('required')">
          Please enter your batch
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Done</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="achievements"
          formControlName="achievements"
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="hobbies"
          formControlName="hobbies"
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="skills"
          formControlName="skills"
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Inspiration Source"
          formControlName="inspirationSource"
        >
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submitForm()">Sign Up</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
