<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Account Information</ng-template>
    <app-first-form [firstFormGroup]="firstFormGroup"></app-first-form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Contact Details</ng-template>
    <app-second-form [secondFormGroup]="secondFormGroup"></app-second-form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>College Details</ng-template>
    <app-third-form [collegeList]="collegeList" [thirdFormGroup]="thirdFormGroup"></app-third-form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    <app-fourth-form [fourthFormGroup]="fourthFormGroup"></app-fourth-form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button mat-raised-button (click)="stepper.reset()">Reset</button>
      <button mat-button mat-raised-button (click)="submitForm()">Sign Up</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
