<div class="row">
  <div class="col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h3>View College</h3>
      </div>
      <div class="ibox-content">
        <mat-form-field>
          <label style="font-weight: normal">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </label>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="collegeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let college"> {{college.collegeName}} </td>
          </ng-container>
          <ng-container matColumnDef="collegeAbbreviation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Abbreviation</th>
            <td mat-cell *matCellDef="let college"> {{college.collegeAbbreviation}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
            <td mat-cell *matCellDef="let college"> {{college.address}} </td>
          </ng-container>
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City</th>
            <td mat-cell *matCellDef="let college"> {{college.city}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let college">
              <button (click)="viewDetails(college)" style="padding: 0">
                <i class="fa fa-trash p-xs" title="View References"></i>
              </button>
              <button (click)="editDetails(college.id)" style="padding: 0">
                <i class="fa fa-edit p-xs" title="Edit College Details"></i>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div id="collegeReferDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">College Refer Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">

              <div class="ibox-content">

                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-responsive table-striped">
                      <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Referer Name</th>
                        <th>Referer Designation</th>
                        <th>Referer Contact</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="college">
                      <tr *ngFor="let refer of college.referenceList; index as i;">
                        <td>{{i + 1}}</td>
                        <td>{{refer.name}}</td>
                        <td>{{refer.designation}}</td>
                        <td>{{refer.contact}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



