<div class="row" >
<div class="col-md-12" >
  <div class="ibox">
    <div class="ibox-title">
      <h3>Activity</h3>
    </div>
    <div class="ibox-content">
      <table id="viewActivityTable" class="table table-responsive table-striped">
        <thead>
        <tr>
        <th>Activity Name</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Colleges</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr> <tr class="p-h-md">
          <td>Plantation</td>
          <td>Plantation</td>
          <td>10/Oct/2019</td>
          <td>10/Oct/2019</td>
          <td>Internal</td>
          <td>ABES EC</td>
          <td>
            <a title="Delete activity"><i class="fa fa-trash p-xs"></i></a>
            <a title="Approve Activity"><i class="fa fa-check p-xs"></i></a>
            <a title="Decline Activity"><i class="fa fa-times p-xs"></i></a>
            <a routerLink="/admin/activity/edit/1" title="Edit Activity"><i class="fa fa-pencil p-xs"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div >
</div>
