<div class="row" >
  <div class="col-md-12" >
    <div class="ibox">
      <div class="ibox-title">
        <h3>Activity</h3>
      </div>
      <div class="ibox-content">
        <table id="viewMemberTable" class="table table-responsive table-striped">
          <thead>
          <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Mobile No.</th>
            <th>College</th>
            <th>City</th>
          </tr>
          </thead>
          <tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr><tr class="p-h-md">
            <td>Ravi Garg</td>
            <td>ravigarg@gmail.com</td>
            <td>9999998877</td>
            <td>G.L Bjaj</td>
            <td>Ghaziabad</td>
          </tr>
        </table>
      </div>
    </div>
  </div >
</div>
